<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Travel Planner</title>
  </head>
  <body>
    <section class="header">
      <h1 class="title">Travel Planner</h1>
      <p class="description">
        Enter the city of your destination and the date when you are planning to
        depart
      </p>
    </section>
    <section class="body">
      <div class="input">
        <form class="form">
          <input
            type="text"
            name="city"
            id="city"
            placeholder="Enter the city..."
          />
          <input type="date" name="date" id="date" />
          <input type="submit" id="submit-button" value="SUBMIT" />
        </form>
      </div>
      <div class="output">
        <div class="info"></div>
        <div class="image"></div>
        <div class="attractions"></div>
      </div>
    </section>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
